extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Danielle Waggoner

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p Hi, I'm Danielle! I thrive in a collaborative, goal-oriented, creative environment and have an immense willingness to learn. Although I am new to the field, my educational background is proof I am up for any challenge that is thrown at me and can work with a variety of people from multiple teams and experiences. I am currently working to gain my Full Stack JavaScript Developer certification through Treehouse Techdegree in order to best serve your company! I am confident I will be an ideal fit for your development needs and have an advantage when working with a team, under pressure, or with difficult clients due to my previous experience in the mental health field.   

      .skills-contact-box.box
        h6 Skills

        //- current skills learned thus far
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Not correct contact information
        ul
          li 153-564-4589
          li dnaeger24@gmail.com

       
        a.btn-link(href='https://www.linkedin.com/') LinkedIn
        a.btn-link(href='https://github.com/dwaggoner24') GitHub
        a.btn-link(href='https://twitter.com/') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back